parameters:
	level: max
	paths:
		- src
		- tests/src
	bootstrapFiles:
		- tests/bootstrap.php
	checkGenericClassInNonGenericObjectType: false
	ignoreErrors:
		-
			message: "#^Expression \"\\$ratingList\\['QWE'\\]\" on a separate line does not do anything\\.$#"
			count: 1
			path: tests/src/RatingList/RatingListTest.php

includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
