parameters:
	level: max
	paths:
		- src
		- tests/src
	bootstrapFiles:
		- tests/bootstrap.php
	ignoreErrors:
		- "#^Call to an undefined method Mockery\\.*#"

includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon
