#use for nette 2.0 stable

common:
	parameters:
		vat: 21

	services:
# následují dvě nejsou povinné
#        eDownload:
#            class: \h4kuna\CnbDay

        eFormat:
             class: \h4kuna\Money
             setup:
                - setVat(%vat%, FALSE, TRUE)
                # - setMask('S1') # etc...

        eStorage:
            class: \h4kuna\Storage

        eSection:
            class: Nette\Http\SessionSection(@session, 'exchange')
            setup:
                - setExpiration('+30 days')

        exchange:
            class: \h4kuna\Exchange
            setup:
                - loadCurrency('czk', {decimal: 0, symbol: Kč}) # pořadí zároveň definuje výchozí měnu
                - loadCurrency('usd', {symbol: $ })

development < common: null
