#use for nette 2.0 stable

common:
	parameters:
		vat: 1.2
		currency: CZK

	services:
        eSection:
            class: Nette\Http\SessionSection(@session, 'exchange')
            setup:
                - setExpiration('+30 days')

#        eDownload:
#            class: Exchange\CnbDay

        eStorage:
            class: Exchange\CnbStorage

#       eFormat:
#            class: Exchange\NumberFormat

        exchange:
            class: \Exchange\Exchange
            setup:
                - loadCurrency('czk', {decimal: 0, symbol: Kč}) # zároveň definuje výchozí měnu, tzn. na pořadí žáleží
                - loadCurrency('usd', {symbol: $ })

development < common: null
