#use for nette 2.0 stable

common:
	parameters:
		vat: 1.2
		currency: CZK

	services:
#		eStorage: #you don't change name of this service
#			class: \Exchange\CnbStorage

#		eDownload: #you don't change name of this service
#			class: \Exchange\CnbDay
#			arguments: {@container}
#			setup:
#				- setProxy('yyy', 'xxx', 'zzz')


		exchange:
			class: \Exchange\Exchange
			setup:
				- loadCurrency('czk', {decimal: 0, symbol: Kč})
				- loadCurrency('usd', {symbol: $ })

development < common: null
