extensions:
    exchangeExtension: h4kuna\Exchange\Nette\DI\ExchangeExtension

exchangeExtension:
    currencies: {
            czk: [decimal: 5, symbol: 'Kč', point: ',', thousand: ' ', mask: 'S 1', zeroClear: true]
            usd: [symbol: '$']
            gbp: [mask: 'S1', thousand: '.', symbol: '£', decimal: 0] }
    vat: 20.5
    vatIn: false
    vatOut: false