php:
    date.timezone: Europe/Prague

nette:
	application:
		scanDirs: false

extensions:
    exchangeExtension: h4kuna\Exchange\Nette\DI\ExchangeExtension

exchangeExtension:
    currencies: {
            czk: [decimal: 0, symbol: 'Kč', point: ',', thousand: ' ', mask: '1 S', flag: 10]
            usd: [symbol: '$']
            gbp: [mask: 'S1', thousand: '.', symbol: '£', decimal: 2] }
    vat: 21
    vatIn: false
    vatOut: false